@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container h1 {
  text-align: center;
}

.container .request {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 20px;
}

.container ion-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.container .request input {
  border: none;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 15px 10px;
  width: 300px;
  border-radius: 10px;
}

.container .items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container .items div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  cursor: pointer;
}

.items .card {
  transition: all 1s linear;
  padding: 5px 20px;
}

.items .card p {
  transition: all 100ms linear;
}

.items .card:hover {
  background: rgba(150, 141, 141, 0.2);
}

.card:hover p {
  transform: scale(110%, 110%);
  animation: desloc 500ms linear both;
}

@keyframes desloc {
  100% {
    margin-left: 15px;
  }
}
